.budget-currency {
    /*font-family: monospace;*/
    font-size: 85%;
}
.budget-negative {
    color: #D00;
}
.fixed-font-textarea {
    border:1px solid #999999;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
